<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Top-Ten" data-toc-modified-id="Top-Ten-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Top Ten</a></span></li><li><span><a href="#Popular-Top-Ten" data-toc-modified-id="Popular-Top-Ten-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Popular Top Ten</a></span></li><li><span><a href="#GenreCount" data-toc-modified-id="GenreCount-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>GenreCount</a></span></li><li><span><a href="#Documentary-Galore" data-toc-modified-id="Documentary-Galore-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Documentary Galore</a></span></li><li><span><a href="#Top-Three-Per-Genre" data-toc-modified-id="Top-Three-Per-Genre-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Top Three Per Genre</a></span></li><li><span><a href="#Genre-Averages" data-toc-modified-id="Genre-Averages-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Genre Averages</a></span></li><li><span><a href="#Romantic-Comedy-by-Decades" data-toc-modified-id="Romantic-Comedy-by-Decades-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Romantic Comedy by Decades</a></span></li></ul></div>

# International Movie Database

Data o 58,786 filmech do roku 2005.

In [45]:
url = 'https://raw.githubusercontent.com/lich-uct/r_tutorial/master/05/ukoly/imdb.csv'
df_imdb <- read.table(url, sep=';', header = T)
head(df_imdb)

  var1 title                    year length budget rating votes r1   r2   r3  ⋯
1 1    $                        1971 121    NA     6.4    348    4.5  4.5 4.5 ⋯
2 2    $1000 a Touchdown        1939  71    NA     6.0     20    0.0 14.5 4.5 ⋯
3 3    $21 a Day Once a Month   1941   7    NA     8.2      5    0.0  0.0 0.0 ⋯
4 4    40000                    1996  70    NA     8.2      6   14.5  0.0 0.0 ⋯
5 5    $50,000 Climax Show, The 1975  71    NA     3.4     17   24.5  4.5 0.0 ⋯
6 6    $pent                    2000  91    NA     4.3     45    4.5  4.5 4.5 ⋯
  r9   r10  mpaa Action Animation Comedy Drama Documentary Romance Short
1  4.5  4.5      0      0         1      1     0           0       0
2  4.5 14.5      0      0         1      0     0           0       0
3 24.5 24.5      0      1         0      0     0           0       1
4 34.5 45.5      0      0         1      0     0           0       0
5  0.0 24.5      0      0         0      0     0           0       0
6 14.5 14.5      0      0         0      1     0           0       0

In [46]:
df_imdb$var1 <- NULL

## Top Ten

Zobrazte deset nejlépe hodnocených filmů (sloupec `rating`).

In [48]:
sorted_movies <- df_imdb[order(df_imdb$rating, decreasing = TRUE), ]

top_10_movies <- sorted_movies[1:10, ]

top_10_movies

      title                                   year length budget rating votes
13907 Dimensia Minds Trilogy: The Hope Factor 2004 10       NA   10.0    5
18015 Fishing for Love                        2001  7       NA   10.0    5
49844 Summer Sonata, A                        2004 30     2000   10.0    5
5898  Black Canyon                            2004 25     3000    9.9    9
7711  Buck Privates                           1928 70       NA    9.9    7
13170 Defilada                                1989 60       NA    9.9    8
13908 Dimensia Minds Trilogy: The Reds        2004  8     1200    9.9   15
15018 Drifting                                2004 21     3000    9.9   41
15658 Ekdromi, I                              1966 85       NA    9.9    7
19825 Genet parle d'Angela Davis              1970 10       NA    9.9    7
      r1 r2  r3  r4 ⋯ r9   r10   mpaa Action Animation Comedy Drama Documentary
13907 0  0.0 0.0 0  ⋯  0.0 100.0      0      0         0      0     0
18015 0  0.0 0.0 0  ⋯  0.0 100.0      0      0         1      0     0
49844 0  0.0 0.0 0  ⋯  0.0 100.0      0      0         0      1     0
5898  0  0.0 0.0 0  ⋯ 14.5  84.5      0      0         0      0     0
7711  0  0.0 0.0 0  ⋯ 14.5  84.5      0      0         1      0     0
13170 0  0.0 0.0 0  ⋯ 14.5  84.5      0      0         0      0     1
13908 0  0.0 0.0 0  ⋯ 14.5  84.5      0      0         0      0     0
15018 0  4.5 4.5 0  ⋯  0.0  94.5      0      0         0      1     0
15658 0  0.0 0.0 0  ⋯ 14.5  84.5      0      0         0      1     0
19825 0  0.0 0.0 0  ⋯ 24.5  74.5      0      0         0      0     0
      Romance Short
13907 0       1
18015 0       1
49844 0       1
5898  0       1
7711  0       0
13170 0       0
13908 0       1
15018 0       1
15658 1       0
19825 0       1

## Popular Top Ten

Zobrazte deset nejlépe hodnocených filmů, které mají alespoň 5000 hodnocení (sloupec `votes`).

In [49]:
df_imdb_votes_5000 <- df_imdb[df_imdb$votes >= 5000, ]

sorted_movies <- df_imdb_votes_5000[order(df_imdb_votes_5000$votes, decreasing = TRUE), ]

top_10_movies <- head(sorted_movies, 10)

top_10_movies

      title                                              year length budget
30656 Lord of the Rings: The Fellowship of the Ring, The 2001 208    93000000
46267 Shawshank Redemption, The                          1994 142    25000000
32708 Matrix, The                                        1999 136    63000000
48906 Star Wars                                          1977 125    11000000
41660 Pulp Fiction                                       1994 168     8000000
20544 Godfather, The                                     1972 175     6000000
30658 Lord of the Rings: The Two Towers, The             2002 223    94000000
17656 Fight Club                                         1999 139    63000000
2106  American Beauty                                    1999 121    15000000
54663 Usual Suspects, The                                1995 106     6000000
      rating votes  r1  r2  r3  r4  ⋯ r9   r10  mpaa  Action Animation Comedy
30656 8.8    157608 4.5 4.5 4.5 4.5 ⋯ 14.5 45.5 PG-13 1      0         0
46267 9.1    149494 4.5 4.5 4.5 4.5 ⋯ 24.5 45.5 R     0      0         0
32708 8.5    143853 4.5 4.5 4.5 4.5 ⋯ 24.5 34.5 R     1      0         0
48906 8.8    134640 4.5 4.5 4.5 4.5 ⋯ 24.5 44.5 PG    1      0         0
41660 8.8    132745 4.5 4.5 4.5 4.5 ⋯ 24.5 44.5 R     0      0         0
20544 9.1    122755 4.5 4.5 4.5 4.5 ⋯ 14.5 45.5       0      0         0
30658 8.8    114797 4.5 4.5 4.5 4.5 ⋯ 24.5 44.5 PG-13 1      0         0
17656 8.5    112092 4.5 4.5 4.5 4.5 ⋯ 24.5 44.5 R     0      0         0
2106  8.5    109991 4.5 4.5 4.5 4.5 ⋯ 24.5 34.5 R     0      0         0
54663 8.7    103854 4.5 4.5 4.5 4.5 ⋯ 24.5 34.5 R     0      0         0
      Drama Documentary Romance Short
30656 0     0           0       0
46267 1     0           0       0
32708 0     0           0       0
48906 0     0           0       0
41660 1     0           0       0
20544 1     0           0       0
30658 0     0           0       0
17656 1     0           0       0
2106  1     0           0       0
54663 0     0           0       0

## GenreCount

Přidejte do tabulky nový sloupec `GenreCount`, který bude označovat, do kolika žánrů najednou film patří.

In [50]:
df_imdb$GenreCount <- rowSums(df_imdb[c('Action', 'Animation', 'Comedy', 'Drama', 'Documentary', 'Romance', 'Short')])

head(df_imdb)

  title                    year length budget rating votes r1   r2   r3  r4   ⋯
1 $                        1971 121    NA     6.4    348    4.5  4.5 4.5  4.5 ⋯
2 $1000 a Touchdown        1939  71    NA     6.0     20    0.0 14.5 4.5 24.5 ⋯
3 $21 a Day Once a Month   1941   7    NA     8.2      5    0.0  0.0 0.0  0.0 ⋯
4 40000                    1996  70    NA     8.2      6   14.5  0.0 0.0  0.0 ⋯
5 $50,000 Climax Show, The 1975  71    NA     3.4     17   24.5  4.5 0.0 14.5 ⋯
6 $pent                    2000  91    NA     4.3     45    4.5  4.5 4.5 14.5 ⋯
  r10  mpaa Action Animation Comedy Drama Documentary Romance Short GenreCount
1  4.5      0      0         1      1     0           0       0     2
2 14.5      0      0         1      0     0           0       0     1
3 24.5      0      1         0      0     0           0       1     2
4 45.5      0      0         1      0     0           0       0     1
5 24.5      0      0         0      0     0           0       0     0
6 14.5      0      0         0      1     0           0       0     1

## Documentary Galore

Ve kterém roce se natočilo nejvíce dokumentárních filmů? Kolik jich bylo?

In [51]:
df_imdb_doc <- df_imdb[df_imdb$Documentary == 1, ]

summaries <- lapply(df_imdb_doc, table)

max(summaries$year)

summaries$year

# The largest number of documentary films was filmed in 2003

[1] 261

1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1908 1910 1911
   5    2    7    6    1    4    5    9    2    8    4    2    4    1    2    1
1913 1914 1915 1918 1919 1922 1923 1925 1926 1927 1928 1929 1930 1931 1932 1933
   1    1    1    1    2    1    2    2    2    2    4   11    7    5    6    7
1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949
   7   13    4   10   11   10   16   16   19   26   14   22   12    7   12    9
1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965
  11   13   12   13   12   15   17   13   10   13   13   12   11   19   21   29
1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981
  20   38   37   22   32   40   31   24   27   36   38   24   39   27   33   31
1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
  40   31   45   45   31   49   42   37   41   46   74   60   94   84   98  133
1998 1999 2000 2001 2002 2003 2004 2005
 133  156  175  196  249  261  258   35

## Top Three Per Genre

Zobrazte tři nejlépe hodnocené filmy pro každý žánr. Uložte jako seznam (`list`), kde klíč je název žánru a hodnota je vektor jmen těchto filmů.

**Bonus:** Omezte se pouze na filmy s alespoň 5,000 hodnoceními (`votes`) a přidejte jejich hodnocení (`rating`) do výstupu, který teď bude seznam objektů `data.frame`.

In [52]:
list_categories <- c('Action', 'Animation', 'Comedy', 'Drama', 'Documentary', 'Romance', 'Short')

# Create an empty list to store the results
top_rated_movies_by_genre <- list()

for (genre in list_categories) {

  df_imdb_votes_5000 <- df_imdb[df_imdb$votes >= 5000, ]
  # Filter movies for the current genre
  genre_movies <- df_imdb_votes_5000[df_imdb_votes_5000[[genre]] == 1, ]

  # Sort the movies by rating in descending order
  sorted_movies <- genre_movies[order(-genre_movies$rating), ]

  # Take the top 3 rated movies for the current genre
  top_3_movies <- head(sorted_movies, 3)

  # Store the top 3 movies in the list
  top_rated_movies_by_genre[[genre]] <- top_3_movies
}

top_rated_movies_by_genre

class(top_rated_movies_by_genre)

$Action
                                               title year length   budget
30657 Lord of the Rings: The Return of the King, The 2003    251 94000000
46406                           Shichinin no samurai 1954    206   500000
7897                Buono, il brutto, il cattivo, Il 1966    180  1200000
      rating  votes  r1  r2  r3  r4  r5  r6  r7   r8   r9  r10  mpaa Action
30657    9.0 103631 4.5 4.5 4.5 4.5 4.5 4.5 4.5  4.5 14.5 64.5 PG-13      1
46406    8.9  32141 4.5 4.5 4.5 4.5 4.5 4.5 4.5 14.5 14.5 45.5            1
7897     8.8  30224 4.5 4.5 4.5 4.5 4.5 4.5 4.5 14.5 24.5 44.5            1
      Animation Comedy Drama Documentary Romance Short GenreCount
30657         0      0     0           0       0     0          1
46406         0      0     1           0       0     0          2
7897          0      0     1           0       0     0          2

$Animation
                                     title year length   budget rating votes
45695        Sen to Chihiro no kamikakushi 2001    125       NA    8.6 24253
55998 Wallace & Gromit: The Wrong Trousers 1993     30       NA    8.4 14976
17842                         Finding Nemo 2003    100 94000000    8.3 41846
       r1  r2  r3  r4  r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy
45695 4.5 4.5 4.5 4.5 4.5 4.5  4.5 14.5 24.5 44.5   PG      0         1      0
55998 4.5 4.5 4.5 4.5 4.5 4.5 14.5 14.5 24.5 34.5           0         1      1
17842 4.5 4.5 4.5 4.5 4.5 4.5 14.5 24.5 24.5 24.5           0         1      1
      Drama Documentary Romance Short GenreCount
45695     1           0       0     0          2
55998     0           0       0     1          3
17842     1           0       0     0          3

$Comedy
                                                                     title year
14857 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 1964
16423                                Eternal Sunshine of the Spotless Mind 2004
7104                                                 Bowling for Columbine 2002
      length   budget rating votes  r1  r2  r3  r4  r5  r6  r7   r8   r9  r10
14857     93  1800000    8.7 63471 4.5 4.5 4.5 4.5 4.5 4.5 4.5 14.5 24.5 44.5
16423    108 20000000    8.6 46240 4.5 4.5 4.5 4.5 4.5 4.5 4.5 14.5 24.5 44.5
7104     120  4000000    8.5 36747 4.5 4.5 4.5 4.5 4.5 4.5 4.5 14.5 24.5 34.5
      mpaa Action Animation Comedy Drama Documentary Romance Short GenreCount
14857   PG      0         0      1     0           0       0     0          1
16423    R      0         0      1     1           0       1     0          3
7104     R      0         0      1     1           1       0     0          3

$Drama
                          title year length   budget rating  votes  r1  r2  r3
20544            Godfather, The 1972    175  6000000    9.1 122755 4.5 4.5 4.5
46267 Shawshank Redemption, The 1994    142 25000000    9.1 149494 4.5 4.5 4.5
20545   Godfather: Part II, The 1974    200 13000000    8.9  71363 4.5 4.5 4.5
       r4  r5  r6  r7   r8   r9  r10 mpaa Action Animation Comedy Drama
20544 4.5 4.5 4.5 4.5 14.5 14.5 45.5           0         0      0     1
46267 4.5 4.5 4.5 4.5 14.5 24.5 45.5    R      0         0      0     1
20545 4.5 4.5 4.5 4.5 14.5 24.5 44.5           0         0      0     1
      Documentary Romance Short GenreCount
20544           0       0     0          1
46267           0       0     0          1
20545           0       0     0          1

$Documentary
                      title year length  budget rating votes   r1  r2  r3  r4
7104  Bowling for Columbine 2002    120 4000000    8.5 36747  4.5 4.5 4.5 4.5
16894       Fahrenheit 9/11 2004    122 6000000    7.9 34666 14.5 4.5 4.5 4.5
43740            Roger & Me 1989     91  160000    7.7  7674  4.5 4.5 4.5 4.5
       r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy Drama
7104  4.5 4.5  4.5 14.5 24.5 34.5    R      0         0      1     1
16894 4.5 4.5  4.5 14.5 14.5 44.5    R      0         0      0     0
43740 4.5 4.5 14.5 24.5 14.5 24.5           0         0      1     0
      Documentary Romance Short GenreCount
7104            1       0     0          3
16894           1       0     0          1
43740           1       0     0          2

$Romance
                                      title year length   budget rating votes
8882                             Casablanca 1942    102   950000    8.8 66030
16423 Eternal Sunshine of the Spotless Mind 2004    108 20000000    8.6 46240
25961                 It's a Wonderful Life 1946    118  3180000    8.6 41199
       r1  r2  r3  r4  r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy
8882  4.5 4.5 4.5 4.5 4.5 4.5  4.5 14.5 24.5 44.5           0         0      0
16423 4.5 4.5 4.5 4.5 4.5 4.5  4.5 14.5 24.5 44.5    R      0         0      1
25961 4.5 4.5 4.5 4.5 4.5 4.5 14.5 14.5 14.5 44.5           0         0      0
      Drama Documentary Romance Short GenreCount
8882      1           0       1     0          2
16423     1           0       1     0          3
25961     1           0       1     0          2

$Short
                                     title year length budget rating votes  r1
55998 Wallace & Gromit: The Wrong Trousers 1993     30     NA    8.4 14976 4.5
55995      Wallace & Gromit: A Close Shave 1995     30     NA    8.2  9261 4.5
55996    Wallace & Gromit: A Grand Day Out 1991     23     NA    7.7  5134 4.5
       r2  r3  r4  r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy
55998 4.5 4.5 4.5 4.5 4.5 14.5 14.5 24.5 34.5           0         1      1
55995 4.5 4.5 4.5 4.5 4.5 14.5 24.5 24.5 34.5           0         1      1
55996 4.5 4.5 4.5 4.5 4.5 14.5 24.5 14.5 14.5           0         1      1
      Drama Documentary Romance Short GenreCount
55998     0           0       0     1          3
55995     0           0       0     1          3
55996     0           0       0     1          3

[1] "list"

## Genre Averages

Spočítejte průměrná hodnocení filmů v jednotlivých žánrech. Jsou komedie v průměru lépe hodnocené než akční filmy? Zkusíte navrhnout a provést statistický test?

In [53]:
for (genre in list_categories) {

  # Filter movies for the current genre
  genre_movies <- df_imdb[df_imdb[[genre]] == 1, ]

  cat(genre, mean(genre_movies$rating), "\n")
}

Action 5.292022
Animation 6.583686
Comedy 5.955492
Drama 6.153684
Documentary 6.650576
Romance 6.163997
Short 6.481423

## Romantic Comedy by Decades

Najděte tři nejlepší romantické komedie z každého desetiletí.

**Bonus:** Filmy, které se do finálního seznamu dostanou, musí mít alespoň 30 hodnocení.

In [61]:
# Assuming your dataframe and the filters you provided
df_imdb_votes_30 <- df_imdb[df_imdb$votes >= 30, ]
df_imdb_votes_30_romance <- df_imdb_votes_30[df_imdb_votes_30$Romance == 1, ]
df_imdb_votes_30_romance_comedy <- df_imdb_votes_30_romance[df_imdb_votes_30_romance$Comedy == 1, ]

df_imdb_votes_30_romance_comedy$decade <- paste0((df_imdb_votes_30_romance_comedy$year %/% 10) * 10, "-", ((df_imdb_votes_30_romance_comedy$year %/% 10) * 10) + 9)

# df_imdb_votes_30_romance_comedy

# output <- split(df_imdb_votes_30_romance_comedy, df_imdb_votes_30_romance_comedy$decade)

# help(split)

# head(output, 3)

In [63]:
top_rated_movies_romance_comedy <- list()

# Loop over unique decades
for (decade in unique(df_imdb_votes_30_romance_comedy$decade)) {

  # Subset movies from the current decade
  decade_movies <- df_imdb_votes_30_romance_comedy[df_imdb_votes_30_romance_comedy$decade == decade, ]

  # Sort the movies by rating in descending order
  sorted_movies <- decade_movies[order(-decade_movies$rating), ]

  # Take the top 3 rated movies for the current decade
  top_3_movies <- head(sorted_movies, 3)

  # Store the top 3 movies in the list
  top_rated_movies_romance_comedy[[decade]] <- top_3_movies
}

top_rated_movies_romance_comedy

$`1990-1999`
                title year length budget rating votes  r1  r2  r3  r4  r5  r6
13305 Denei shoujo Ai 1992    180     NA    8.7   157 4.5 4.5 4.5 0.0 0.0 4.5
8102               C4 1996      4     NA    8.4    48 4.5 0.0 0.0 0.0 4.5 4.5
2277  Amor & Alquimia 1995     22     NA    8.1    36 0.0 0.0 0.0 4.5 4.5 0.0
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
13305 14.5 14.5 14.5 45.5           0         1      1     0           0
8102  14.5  4.5 74.5  4.5           0         0      1     0           0
2277   4.5 14.5  4.5 74.5           0         0      1     0           0
      Romance Short GenreCount    decade
13305       1     0          3 1990-1999
8102        1     1          3 1990-1999
2277        1     1          3 1990-1999

$`1980-1989`
                    title year length   budget rating votes  r1  r2  r3  r4  r5
9510      Chashme Buddoor 1981    145       NA    8.5    40 0.0 0.0 0.0 0.0 4.5
28551              Kuryer 1987     90       NA    8.2    88 0.0 0.0 0.0 4.5 4.5
41270 Princess Bride, The 1987     98 16000000    8.2 53946 4.5 4.5 4.5 4.5 4.5
       r6   r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
9510  4.5  4.5 24.5 24.5 44.5           0         0      1     0           0
28551 4.5 14.5 14.5 24.5 34.5           0         0      1     1           0
41270 4.5 14.5 14.5 24.5 34.5           0         0      1     0           0
      Romance Short GenreCount    decade
9510        1     0          2 1980-1989
28551       1     0          3 1980-1989
41270       1     0          2 1980-1989

$`2000-2009`
                                      title year length   budget rating votes
36420                      Night of the Dog 2005     86     5000    9.5    33
8890                 Casamento de Louise, O 2001     80       NA    8.8    40
16423 Eternal Sunshine of the Spotless Mind 2004    108 20000000    8.6 46240
       r1  r2  r3  r4  r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy
36420 4.5 0.0 4.5 0.0 0.0 0.0  4.5  4.5  4.5 84.5           0         0      1
8890  4.5 0.0 4.5 4.5 4.5 4.5 24.5  4.5 34.5 14.5           0         0      1
16423 4.5 4.5 4.5 4.5 4.5 4.5  4.5 14.5 24.5 44.5    R      0         0      1
      Drama Documentary Romance Short GenreCount    decade
36420     0           0       1     0          2 2000-2009
8890      0           0       1     0          2 2000-2009
16423     1           0       1     0          3 2000-2009

$`1970-1979`
                 title year length  budget rating votes  r1  r2  r3  r4  r5  r6
47498 Sluzhebnyy roman 1977    159      NA    9.1   320 4.5 4.5 4.5 4.5 4.5 4.5
2728        Annie Hall 1977     93 4000000    8.3 21462 4.5 4.5 4.5 4.5 4.5 4.5
46570             Shor 1972    170      NA    8.3    35 0.0 0.0 0.0 0.0 0.0 0.0
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
47498  4.5  4.5 14.5 64.5           0         0      1     0           0
2728  14.5 14.5 24.5 34.5           0         0      1     0           0
46570  4.5 24.5 45.5 14.5           0         0      1     1           0
      Romance Short GenreCount    decade
47498       1     0          2 1970-1979
2728        1     0          2 1970-1979
46570       1     0          3 1970-1979

$`1960-1969`
                      title year length budget rating votes  r1 r2  r3  r4  r5
13598              Devchata 1961     98     NA    9.2    50 0.0  0 0.0 0.0 4.5
5139    Beregis avtomobilya 1966     94     NA    9.0   241 4.5  0 4.5 4.5 4.5
44445 Sahib Bibi Aur Ghulam 1962    152     NA    9.0    76 4.5  0 4.5 4.5 0.0
       r6  r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
13598 4.5 4.5 14.5 14.5 64.5           0         0      1     0           0
5139  4.5 4.5 14.5 14.5 64.5           0         0      1     0           0
44445 4.5 4.5  4.5  4.5 74.5           0         0      1     1           0
      Romance Short GenreCount    decade
13598       1     0          2 1960-1969
5139        1     0          2 1960-1969
44445       1     0          3 1960-1969

$`1940-1949`
                title year length budget rating votes  r1  r2  r3  r4  r5   r6
15948       Enamorada 1946     99     NA    8.4    49 0.0 0.0 0.0 0.0 4.5  4.5
17753 Film ohne Titel 1948     99     NA    8.2    38 0.0 0.0 0.0 0.0 0.0 14.5
23171 His Girl Friday 1940     92     NA    8.2  6667 4.5 4.5 4.5 4.5 4.5  4.5
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
15948 14.5 24.5  4.5 45.5           0         0      1     1           0
17753 14.5 34.5 14.5 24.5           0         0      1     0           0
23171 14.5 24.5 24.5 24.5           0         0      1     1           0
      Romance Short GenreCount    decade
15948       1     0          3 1940-1949
17753       1     0          2 1940-1949
23171       1     0          3 1940-1949

$`1950-1959`
                     title year length  budget rating votes  r1  r2  r3  r4  r5
14645 Dos tipos de cuidado 1953    123      NA    8.5    52 4.5 4.5 0.0 0.0 4.5
47033  Singin' in the Rain 1952    103 2540800    8.5 20585 4.5 4.5 4.5 4.5 4.5
47952     Some Like It Hot 1959    120 2883848    8.4 25369 4.5 4.5 4.5 4.5 4.5
       r6   r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
14645 4.5  4.5 24.5 14.5 44.5           0         0      1     0           0
47033 4.5 14.5 14.5 14.5 34.5           0         0      1     0           0
47952 4.5 14.5 24.5 24.5 34.5           0         0      1     0           0
      Romance Short GenreCount    decade
14645       1     0          2 1950-1959
47033       1     0          2 1950-1959
47952       1     0          2 1950-1959

$`1930-1939`
                      title year length  budget rating votes  r1  r2  r3  r4
10228           City Lights 1931     87 1500000    8.5  7802 4.5 4.5 4.5 4.5
25871 It Happened One Night 1934    105  325000    8.3  7924 4.5 4.5 4.5 4.5
7493       Bringing Up Baby 1938    102      NA    8.2  9250 4.5 4.5 4.5 4.5
       r5  r6   r7   r8   r9  r10 mpaa Action Animation Comedy Drama
10228 4.5 4.5  4.5 14.5 24.5 44.5           0         0      1     1
25871 4.5 4.5 14.5 24.5 24.5 34.5           0         0      1     0
7493  4.5 4.5 14.5 24.5 24.5 34.5           0         0      1     0
      Documentary Romance Short GenreCount    decade
10228           0       1     0          3 1930-1939
25871           0       1     0          2 1930-1939
7493            0       1     0          2 1930-1939

$`1920-1929`
                 title year length budget rating votes  r1  r2  r3  r4  r5  r6
19809     General, The 1927     83     NA    8.4  6644 4.5 4.5 4.5 4.5 4.5 4.5
27646 Kid Brother, The 1927     84     NA    8.3   285 4.5 4.5 4.5 4.5 4.5 4.5
44422     Safety Last! 1923     70     NA    8.2   757 4.5 4.5 4.5 4.5 4.5 4.5
        r7   r8   r9  r10 mpaa Action Animation Comedy Drama Documentary
19809  4.5 14.5 24.5 34.5           1         0      1     0           0
27646 14.5 14.5 24.5 44.5           0         0      1     0           0
44422 14.5 24.5 24.5 34.5           1         0      1     0           0
      Romance Short GenreCount    decade
19809       1     0          3 1920-1929
27646       1     0          2 1920-1929
44422       1     0          3 1920-1929